{{ $pageTitle := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
{{ $pageDescription := .Site.Params.description }}
{{ if .Params.description }}
  {{ $pageDescription = .Params.description }}
{{ else if .Params.excerpt }}
  {{ $pageDescription = .Params.excerpt }}
{{ else if .Summary }}
  {{ $pageDescription = .Summary }}
{{ end }}
{{ $pageDescription = $pageDescription | plainify | truncate 160 }}
{{ $defaultShareImage := .Site.Params.share_image | default "/images/azure-nigeria.png" }}
{{ $ogImage := $defaultShareImage | absURL }}
{{ $ogImageType := "image/png" }}
{{ $ogType := "website" }}
{{ if and .IsPage (or (eq .Section "blog") (eq .Section "events") (eq .Section "series")) }}
  {{ $ogType = "article" }}
{{ end }}
{{ $twitterHandle := "" }}
{{ with .Site.Data.social.twitter.url }}
  {{ $twitterHandle = replace (replace . "https://twitter.com/" "@") "http://twitter.com/" "@" }}
{{ end }}
{{ if .Params.share_image }}
  {{ $ogImage = .Params.share_image | absURL }}
{{ else if .Params.featured_image }}
  {{ $candidate := .Params.featured_image | absURL }}
  {{ if not (hasSuffix (lower $candidate) ".svg") }}
    {{ $ogImage = $candidate }}
  {{ end }}
{{ end }}
{{ $ogLower := lower $ogImage }}
{{ if or (hasSuffix $ogLower ".jpg") (hasSuffix $ogLower ".jpeg") }}
  {{ $ogImageType = "image/jpeg" }}
{{ else if hasSuffix $ogLower ".webp" }}
  {{ $ogImageType = "image/webp" }}
{{ end }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ $pageTitle }}</title>
<meta name="description" content="{{ $pageDescription }}" />
<meta name="theme-creator" content="{{ .Site.Params.theme_creator }}" />
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" as="style" />
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet" />
{{ $style := resources.Get "css/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<meta property="og:title" content="{{ $pageTitle }}" />
<meta property="og:description" content="{{ $pageDescription }}" />
<meta property="og:type" content="{{ $ogType }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $ogImage }}" />
<meta property="og:image:secure_url" content="{{ $ogImage }}" />
<meta property="og:image:type" content="{{ $ogImageType }}" />
<meta property="og:image:alt" content="{{ $pageTitle }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $pageTitle }}" />
<meta name="twitter:description" content="{{ $pageDescription }}" />
<meta name="twitter:image" content="{{ $ogImage }}" />
<meta name="twitter:image:alt" content="{{ $pageTitle }}" />
{{ if $twitterHandle }}
  <meta name="twitter:site" content="{{ $twitterHandle }}" />
{{ end }}
<link rel="icon" href="{{ "/favicon.png" | relURL }}" type="image/png" />
<link rel="apple-touch-icon" href="{{ "/favicon.png" | relURL }}" />
